<section id="master-introduction" class="section grey lighten-4">
    <div id="introduction">
        <div class="container">
            <div id="introduction-avatar" class="section-avatar center">
                <img alt="Everett in a family photo from 2016." class="circle" src="~/images/personal/everett-current.png" />
            </div>
            <div id="introduction-heading" class="section-heading center">
                <h3>A Few Fun Facts About Myself</h3>
            </div>
            <div id="introduction-paragraph" class="section-paragraph center">
                <p>
                    Programming is my passion and using it to help people and positively impact their lives is what I've always wanted to do, I love to travel, I have a puppy named Mittens for his four little white paws, I'm a fan of the KC Royals, provolone is my cheese of choice, and my favorite number is 24.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="master-images" class="section">
    <div id="images">
        <div class="container">
            <div class="row">
                <div class="col m6 l4 section-image">
                    <img alt="Mittens sleeping on one of his favorite toys." src="~/images/personal/mittens-sleeping.jpg" />
                </div>
                <div class="col m6 l4 section-image">
                    <img alt="Everett and his family. From left to right: Caitlin, Everett, Andrew, Kylie, and her fiancé Phil." src="~/images/personal/everett-family.jpg" />
                </div>
                <div class="col m6 l4 section-image">
                    <img alt="" src="~/images/personal/everett-solo-bridge.jpg" />
                </div>
                <div class="col m6 l4 section-image">
                    <img alt="Everett at a baseball Royals I70 series game." src="~/images/personal/everett-young-baseball.jpg" />
                </div>
                <div class="col m6 l4 section-image">
                    <img alt="Everett exploring his fascination with computers." src="~/images/personal/everett-young-computer.jpg" />
                </div>
                <div class="col m6 l4 section-image">
                    <img alt="Mittens as a young puppy." src="~/images/personal/mittens-puppy.jpg" />
                </div>
            </div>
        </div>
    </div>
</section>
<section id="insight" class="section grey lighten-4">
    <div id="insight">
        <div class="container">
            <div class="row">
                <div id="insight-subheading" class="section-subheading">
                    <h4>Get a deeper insight into who I am as a person, and how I came to love programming and helping others.</h4>
                </div>
                <div id="insight-paragraph" class="section-paragraph">
                    <p>Programming is what I've always wanted to do.  I was immediately fascinated with computers and technology ever since I first used a computer at age 6 &mdash; and that drove me to take all the development courses available to me throughout school and spend countless hours outside of school learning to program. By the time I was 11, I started learning HTML and CSS on my own. At 14, I learned Java, Visual Basic, JavaScript, and SQL.</p>
                    <p>At 16 years of age, realizing the power of technology, and the profound impact it had on me growing up, I was inspired to co-found a charity. We provided immunocompromised children with computers, games, and a safe online environment for them to play and socialize with other children. I helped draft our administrative policies, oversaw our team of over 100 volunteers, and participated on the board of directors to expand our charitiable efforts. During this time, I also taught myself PHP and Lua, how to manage Linux server systems and databases, and gained valuable conflict resolution, management, and leadership experience.</p>
                    <p>Following the completion of my final year of high school, I pursued Centriq Training to continue growing my programming skill set &mdash; adding knowledge in .NET MVC, .NET WebForms, C#, and Angular JS, in addition to expanding my existing knowledge in HTML5, CSS3, JavaScript, jQuery, and SQL. From there, it was off into the business world. I've worked with a wide range of technologies since then, including .NET Web Api, Node.js, and Ruby on Rails, and continue to learn and program everyday.</p>
                </div>
            </div>
        </div>
    </div>
</section>
