<section id="master-introduction" class="section grey lighten-4">
    <div id="introduction">
        <div class="container">
            <div id="introduction-heading" class="section-heading center">
                <h3>My Story</h3>
            </div>
            <div id="introduction-paragraph" class="section-paragraph center">
                <p>Programming is what I've always wanted to do. I was immediately fascinated with computers and technology ever since I first used a computer at age 6 &mdash; and that drove me to learn HTML and CSS at 11, and start a charity at 16.</p>
            </div>
            <div id="introduction-action" class="section-action center">
                <a class="btn" href="@Url.Action("About", "Home")">Learn More</a>
            </div>
        </div>
    </div>
</section>
<section id="master-skills" class="section">
    <div id="skills">
        <div id="skills-container" class="container center">
            <div class="row">
                <div id="skill-front-end-experience" class="section-skill col s12 m4">
                    <i class="material-icons medium">desktop_windows</i>
                    <p class="skill-title">Front-End Experience</p>
                    <ul class="skill-languages">
                        <li data-start-date="2011/08/01">HTML5</li>
                        <li data-start-date="2011/08/01">CSS3</li>
                        <li data-start-date="2016/02/01">Sass</li>
                        <li data-start-date="2011/08/01">JavaScript</li>
                    </ul>
                </div>
                <div id="skill-back-end-experience" class="section-skill col s12 m4">
                    <i class="material-icons medium">build</i>
                    <p class="skill-title">Back-End Experience</p>
                    <ul class="skill-languages">
                        <li data-start-date="2015/09/01">C#</li>
                        <li data-start-date="2015/09/01">.NET MVC</li>
                        <li data-start-date="2015/09/01">.NET Web API</li>
                        <li data-start-date="2015/09/01">WebForms</li>
                        <li data-start-date="2016/02/01">Node.js</li>
                        <li data-start-date="2016/02/01">Ruby</li>
                        <li data-years-experience="2 years" data-language="Java">Java</li>
                        <li data-start-date="2016/02/01">PHP</li>
                        <li data-start-date="2011/08/01">MySQL</li>
                        <li data-start-date="2015/09/01">MSSQL</li>
                        <li data-start-date="2016/11/01">DB2</li>
                        <li data-start-date="2011/08/01">Linux</li>
                    </ul>
                </div>
                <div id="skill-frameworks-experience" class="section-skill col s12 m4">
                    <i class="material-icons medium">developer_board</i>
                    <p class="skill-title">Frameworks Experience</p>
                    <ul class="skill-languages">
                        <li data-start-date="2015/09/01">Bootstrap</li>
                        <li data-start-date="2015/09/01">Materialize</li>
                        <li data-start-date="2015/09/01">jQuery</li>
                        <li data-start-date="2016/02/01">Express</li>
                        <li data-start-date="2016/02/01">Sails</li>
                        <li data-start-date="2016/02/01">Rails</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
