<section id="master-technologies" class="section grey lighten-4">
    <div id="technologies" class="resume-technologies">
        <div class="container">
            <div class="row">
                <div class="col m12 l2">
                    <h4 class="heading">Technologies</h4>
                </div>
                <div class="col s12 m6 offset-l1 l4">
                    <h4 class="heading">Proficient</h4>
                    <ul>
                        <li>C#, .NET MVC, Web API, WebForms</li>
                        <li>Node.js, Express, Sails</li>
                        <li>Ruby on Rails</li>
                        <li>Java</li>
                        <li>PHP</li>
                        <li>HTML5, CSS3/Sass, JavaScript/jQuery</li>
                        <li>MySQL, MSSQL, DB2</li>
                        <li>Git</li>
                    </ul>
                </div>
                <div class="col s12 m6 offset-l1 l4">
                    <h4 class="heading">Have Used</h4>
                    <ul>
                        <li>AngularJS</li>
                        <li>React JS</li>
                        <li>AJAX</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="master-experience" class="section">
    <div id="experience" class="resume-experience">
        <div class="container">
            <div class="row">
                <div class="col m12 l2">
                    <h4 class="heading">Experience</h4>
                </div>
                <div class="col s12 m12 offset-l1 l9 resume-jobs">
                    <div id="ad-banker" class="resume-job">
                        <p class="title">Software Engineer</p>
                        <p class="company-and-experience">A.D. Banker &amp; Company, November 2016 &mdash; Present</p>
                        <p class="description">Oversee the development and completion of our C# .NET REST Web API for third-party company and client integration. Led the development of the overhaul of our student enrollment application using C# .NET WebForms and JavaScript AJAX calls. Utilized REST APIs to build internal applications. Update and maintain customer-facing website and web applications.</p>
                        <p class="languages grey lighten-4 center"><span class="bold">Technology Used:</span> C#, .NET MVC, Web API, Web Forms, HTML5, CSS3/Sass, JavaScript/jQuery, MySQL, DB2, Git, AJAX</p>
                    </div>
                    <div id="technology-group-solutions" class="resume-job">
                        <p class="title">Solutions Architect</p>
                        <p class="company-and-experience">Technology Group Solutions, LLC, January 2016 &mdash; November 2016</p>
                        <p class="description">Managed and oversaw timely completion of all internal and client development projects. Designed, updated, and maintained several customer-facing websites, web applications, and self-service portal using C# .NET MVC, Ruby on Rails, Node.js, PHP, HTML5, CSS3/Sass, and JavaScript/jQuery. Utilized ConnectWise and LabTech Rest APIs and C# .NET SDKs for integration into our self service portal. Utilized test driven development to produce application, writing unit tests and providing extensive code coverage. Wrote scripts to automate previously manual processes.</p>
                        <p class="languages grey lighten-4 center"><span class="bold">Technology Used:</span> C#, .NET MVC, Node.js, Express, Sails, Ruby on Rails, PHP, HTML5, CSS3/Sass, JavaScript, jQuery, MySQL, MSSQL, Git, React JS</p>
                    </div>
                    <div id="the-cube-server" class="resume-job">
                        <p class="title">Chief Administrative Officer, Director</p>
                        <p class="company-and-experience">The Cube Server Inc., January 2013 &mdash; May 2014</p>
                        <p class="description">Co-founded a non-profit charitable organization to provide computers, games, peripherals, and a safe online environment to immunocompromised children going through chemotherapy to enable them to have fun and socialize with other kids. Participated on the board of directors, drafted and approved policies and objectives to improve the effectiveness of our charitable efforts. Trained and supervised a team of over 100 volunteers, and directed the weekly meetings between the members of upper management. Mediated issues between users to ensure and promote a safe and friendly environment on our online community. Designed, updated, and maintained customer-facing website using HTML5, CSS3, JavaScript, and PHP.</p>
                        <p class="languages grey lighten-4 center last"><span class="bold">Technology Used:</span> PHP, Lua, HTML5, CSS3, JavaScript/jQuery, MySQL, Git</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="master-education" class="section grey lighten-4">
    <div id="experience" class="resume-education">
        <div class="container">
            <div class="row">
                <div class="col m12 l2">
                    <h4 class="heading">Education</h4>
                </div>
                <div class="col s12 m12 offset-l1 l9 resume-schools">
                    <div id="centriq-training" class="resume-school">
                        <p class="title">Full Stack Web Developer</p>
                        <p class="school-and-dates">Centriq Training, September 2015 &mdash; January 2016</p>
                        <p class="languages white center last"><span class="bold">Technology Used:</span> C#, .NET MVC, WebForms, HTML5, CSS3, JavaScript/jQuery, MSSQL, Git, AngularJS, AJAX</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>